---
layout: with-sidebar
title: "El Rincón de Hattrick"
---

<div class="container">
  <header class="content has-text-centered" id="main-header">
    <h1 class="title is-2">{{ site.title }}</h1>
    <p class="subtitle is-4">{{ site.description }}</p>
  </header>

  {% for category in site.categories %} {% assign category_name = category[0] %}
  {% assign category_page = site.pages | where: "category", category_name |
  first %}

  <section class="content my-5">
    <h2 class="title is-4">
      {{ category_page.title | default: category_name }}
    </h2>
    <p class="subtitle is-6">
      {{ category_page.description | default: "No hay descripción disponible
      para esta categoría." }}
    </p>

    <div class="table-container">
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
          <tr>
            <th scope="col" class="has-text-grey">Fecha</th>
            <th scope="col" class="has-text-grey">Artículo</th>
          </tr>
        </thead>
        <tbody>
          {% for post in category[1] %}
          <tr>
            <td class="is-narrow">
              <span class="icon is-small" aria-hidden="true">
                <i class="fas fa-calendar-day"></i>
              </span>
              <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
                {{ post.date | date: "%d/%m/%Y" }}
              </time>
            </td>
            <td>
              <a href="{{ post.url | relative_url }}" class="has-text-link">
                {{ post.title }}
              </a>
              <p class="is-7 mt-1">
                {{ post.excerpt | strip_html | truncatewords: 30 }}
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  {% endfor %}

  <footer class="has-text-centered mt-5">
    <a
      href="#main-header"
      class="button is-link is-light is-rounded"
      aria-label="Volver al inicio"
    >
      <span class="icon-text">
        <span class="icon" aria-hidden="true">
          <i class="fas fa-arrow-up"></i>
        </span>
        <span>Subir</span>
      </span>
    </a>
  </footer>
</div>
