<aside class="menu">
  {% if site.data.enlaces %} {% for categoria in site.data.enlaces %}
  <div class="card">
    <div class="card-content">
      <p class="title is-6">{{ categoria[0] | capitalize }}</p>
      <ul>
        {% for enlace in categoria[1] %}
        <li>
          <a href="{{ enlace.url }}" target="_blank" rel="noopener noreferrer"> <i class="fas fa-link"></i> {{ enlace.nombre }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %} {% else %}
  <p class="has-text-grey">No hay enlaces disponibles.</p>
  {% endif %}
</aside>
