<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>{{ site.title }}</strong> &copy; {{ "now" | date: "%Y" }} {{ site.author }}
    </p>

    <!-- Botones de navegación -->
    <div class="buttons is-centered">
      <a href="{{ '/acerca-de/' | relative_url }}" class="button is-light is-small">
        <span class="icon"><i class="fas fa-info-circle"></i></span>
        <span>Acerca de</span>
      </a>
      <a href="{{ '/contacto/' | relative_url }}" class="button is-light is-small">
        <span class="icon"><i class="fas fa-envelope"></i></span>
        <span>Contacto</span>
      </a>
    </div>
  </div>
</footer>