<nav class="navbar is-fixed-top has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | relative_url }}">
        <h2 class="title is-4">El Rincón de Hattrick</h2>
      </a>
      <button class="navbar-burger" aria-label="Menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item {% if page.url == '/' %}is-active{% endif %}" href="{{ '/' | relative_url }}"> <i class="fas fa-home"></i> Inicio </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link"><i class="fas fa-folder"></i> Categorías</div>
          <div class="navbar-dropdown">
            {% assign category_pages = site.pages | where: "layout", "category" %} {% for category_page in category_pages %}
            <a class="navbar-item {% if page.url == category_page.url %}is-active{% endif %}" href="{{ category_page.url | relative_url }}">
              <i class="fas {{ category_page.icon }}"></i> {{ category_page.title }}
            </a>
            {% else %}
            <a class="navbar-item">No hay categorías</a>
            {% endfor %}
          </div>
        </div>

        {% assign links = "acerca-de,contacto" | split: "," %} {% assign icons = "fa-info-circle,fa-envelope" | split: "," %} {% for link in links %} {% assign
        link_url = '/' | append: link | append: '/' | relative_url %}
        <a class="navbar-item {% if page.url == link_url %}is-active{% endif %}" href="{{ link_url }}">
          <i class="fas {{ icons[forloop.index0] }}"></i> {{ link | replace: '-', ' ' | capitalize }}
        </a>
        {% endfor %}

        <div class="navbar-item">
          <form action="{{ '/search/' | relative_url }}" method="get">
            <div class="field has-addons">
              <div class="control">
                <input class="input is-rounded" type="search" name="q" placeholder="Buscar..." required />
              </div>
              <div class="control">
                <button type="submit" class="button is-primary is-rounded" aria-label="Buscar">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
