---
layout: with-sidebar
---

<div class="container py-5" id="top">
  <!-- Encabezado principal -->
  <header class="content has-text-centered">
    <h1 class="title is-2" role="heading" aria-level="1">{{ page.title }}</h1>
    <p class="subtitle is-size-4" role="heading" aria-level="2">
      {{ page.description }}
    </p>
  </header>

  <!-- Encabezado de la categoría -->
  <div class="content box my-5">
    {% if site.categories[page.category] %}
    <!-- Tabla de artículos de la categoría -->
    <div class="table-container">
      <table class="table is-fullwidth is-hoverable is-striped" role="table">
        <caption class="sr-only">
          Lista de artículos en la categoría {{ page.category }}
        </caption>
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Artículo</th>
          </tr>
        </thead>
        <tbody>
          {% for post in site.categories[page.category] %}
          <tr>
            <td class="is-narrow">
              <span
                class="icon is-small"
                role="img"
                aria-label="Fecha de publicación"
              >
                <i class="fas fa-calendar-day" aria-hidden="true"></i>
              </span>
              {{ post.date | date: "%d/%m/%Y" }}
            </td>
            <td>
              <a
                href="{{ post.url | relative_url }}"
                class="has-text-weight-semibold"
                aria-label="Leer más sobre {{ post.title }}"
                title="Leer más sobre {{ post.title }}"
              >
                {{ post.title }}
              </a>
              <p class="is-size-7 mt-1">
                {{ post.excerpt | strip_html | truncate: 150 }}
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <!-- Mensaje de categoría vacía -->
    <div class="notification is-warning" role="alert">
      No hay artículos disponibles en esta categoría. ¡Explora otras secciones
      del blog!
    </div>
    {% endif %}
  </div>

  <!-- Navegación -->
  <div class="mt-6 has-text-centered">
    <a
      href="/"
      class="button is-link is-rounded"
      aria-label="Volver al inicio"
      title="Regresa a la página de inicio"
    >
      <span class="icon">
        <i class="fas fa-home" aria-hidden="true"></i>
      </span>
      <span>Volver al Inicio</span>
    </a>
    <a
      href="#top"
      class="button is-link is-light is-rounded"
      aria-label="Volver arriba"
      title="Volver arriba"
    >
      <span class="icon">
        <i class="fas fa-arrow-up" aria-hidden="true"></i>
      </span>
      <span>Volver Arriba</span>
    </a>
  </div>
</div>
