---
layout: default
---

<div class="container">
  <div class="content">
    <div class="columns is-variable is-4">
      <!-- Contenido Principal -->
      <div class="column">{{ content }}</div>

      <!-- Barra Lateral -->
      <aside class="column is-one-quarter is-hidden-mobile">
        <!-- Categorías -->
        <section aria-labelledby="categories-title" class="box">
          <h3 class="title is-5">Categorías</h3>
          <div class="columns is-multiline">
            {% assign category_pages = site.pages | where: "layout", "category"
            %} {% if category_pages.size > 0 %} {% for category_page in
            category_pages %}
            <div class="column is-12">
              <a
                href="{{ category_page.permalink }}"
                class="tag is-medium is-link is-light"
              >
                <span class="icon is-small mr-3" aria-hidden="true">
                  <i class="fas fa-tag"></i>
                </span>
                {{ category_page.title }}
              </a>
            </div>
            {% endfor %} {% else %}
            <div class="column">
              <p>No hay categorías disponibles. ¡Explora más tarde!</p>
            </div>
            {% endif %}
          </div>
        </section>

        <!-- Buscar en el Blog -->
        <section aria-labelledby="search-title" class="box">
          <h3 id="search-title" class="title is-5">Buscar en el Blog</h3>
          <form action="/search/" method="get" role="search">
            <div class="field">
              <div class="control">
                <input
                  class="input is-rounded"
                  type="text"
                  name="q"
                  placeholder="Buscar artículos..."
                  aria-label="Buscar artículos en el blog"
                />
              </div>
            </div>
            <button class="button is-primary is-rounded">Buscar</button>
          </form>
        </section>

        <!-- Artículos Destacados -->
        <section aria-labelledby="featured-title" class="box">
          <h3 class="title is-5">Artículos Destacados</h3>
          <div class="columns is-multiline">
            {% assign featured_posts = site.posts | where: "featured", true %}
            {% if featured_posts.size > 0 %} {% for post in featured_posts %}
            <div class="column is-12">
              <a
                href="{{ post.url }}"
                class="box is-shadowless has-hover-effect is-underlined"
              >
                {{ post.title }}
              </a>
            </div>
            {% endfor %} {% else %}
            <div class="column">
              <p>No hay artículos destacados</p>
            </div>
            {% endif %}
          </div>
        </section>

        <!-- Últimos Artículos -->
        <section aria-labelledby="recent-title" class="box">
          <h3 class="title is-5">Últimos Artículos</h3>
          <div class="columns is-multiline">
            {% assign published_posts = site.posts | where: "published", true |
            sort: "date" | reverse %} {% if published_posts.size > 0 %} {% for
            post in published_posts limit: 4 %}
            <div class="column is-12">
              <a
                href="{{ post.url }}"
                class="box is-shadowless has-hover-effect is-underlined"
              >
                {{ post.title }}
              </a>
            </div>
            {% endfor %} {% else %}
            <div class="column">
              <p>No hay artículos recientes</p>
            </div>
            {% endif %}
          </div>
        </section>
      </aside>
    </div>
  </div>
</div>
